@use 'util' as *;



body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bodycolor);
  
}

main {
    @include gridplacenter;
    @include widthheight;
}
a {
    text-decoration: none;
    color: var(--textcolor);
}