html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes photoshop {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 40%;
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes photoshop {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 40%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes canva {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 50%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes canva {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 50%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes figma {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 30%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes figma {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 30%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes html {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 70%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes html {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 70%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes javascript {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 20%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 20%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes sass {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 50%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes sass {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 50%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes git {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 50%;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes git {
  0% {
    width: 0%;
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    width: 50%;
    transform: scaleX(1);
    opacity: 1;
  }
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(250, 250, 250, 0.8), rgb(255, 255, 255)), url("../../images/robert-photo1-1.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  overflow: hidden;
}
.banner .banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1150px, 100%);
}
.banner .banner-wrapper .banner-content {
  order: 2;
  flex: 1;
  transform: rotateY(180deg);
  padding-left: 2em;
  padding-top: 10em;
}
.banner .banner-wrapper .banner-content h3 {
  font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1.2rem);
  font-weight: 400;
}
.banner .banner-wrapper .banner-content h1 {
  font-size: clamp(1rem, 3vw + 1.5rem, 8rem);
  font-weight: 800;
  font-variant: small-caps;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}
.banner .banner-wrapper .banner-content h2 {
  font-size: clamp(0.875rem, 1.75vw + 0.6rem, 2rem);
  font-weight: 500;
  margin-bottom: 2.5em;
  font-variant: small-caps;
  color: rgb(0, 139, 139);
}
.banner .banner-wrapper .banner-content .cta {
  border: 1px solid rgb(0, 0, 0);
  padding: 0.2em 1em;
  text-decoration: none;
  color: brown;
  opacity: 0.7;
  margin-left: 0;
}
.banner .banner-wrapper .banner-content .cta:hover {
  color: brown;
  opacity: 1;
}
.banner .banner-wrapper .banner-content .icons {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}
.banner .banner-wrapper .banner-content .icons .fa {
  font-size: 1.4rem;
  cursor: pointer;
}
.banner .banner-wrapper .banner-content .icons .fa:hover {
  color: rgb(0, 139, 139);
}
.banner .banner-wrapper .banner-image {
  flex: 1;
  height: 90vh;
  order: 1;
}
.banner .banner-wrapper .banner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotateY(180deg);
}

@media (min-width: ) {
  .banner .banner-content {
    flex-basis: 60%;
  }
  .banner .banner-wrapper .banner-image {
    flex-basis: 40%;
  }
}
header {
  width: 100%;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgb(0, 139, 139);
}
header .header-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .logo {
  width: 90px;
  height: 5em;
}
header .header-container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
header .header-container .nav-menu {
  padding-right: 2em;
  transform: translateX(120%);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  transition: transform 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
header .header-container .nav-menu .nav-link {
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  padding: 1em 0;
}
header .header-container .nav-menu .nav-link:hover {
  color: #6677bc;
}
header .header-container .nav-menu.open {
  transform: translateX(0);
  background-color: #1e1e1e;
  width: 50%;
  display: block;
  padding-top: 80px;
  font-size: 1.25rem;
}
header .header-container .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 1.8em;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 5;
}
header .header-container .hamburger .hamburger-btn {
  width: 2em;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
header .header-container .hamburger .hamburger-btn::after, header .header-container .hamburger .hamburger-btn::before {
  content: "";
  position: absolute;
}
header .header-container .hamburger .hamburger-btn::before {
  transform: translateY(-9px);
  width: 2em;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
header .header-container .hamburger .hamburger-btn::after {
  transform: translateY(9px);
  width: 2em;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
header .header-container .hamburger.open .hamburger-btn::before {
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
}
header .header-container .hamburger.open .hamburger-btn::after {
  transform: rotate(-45deg);
  background-color: rgb(255, 255, 255);
}
header .header-container .hamburger.open .hamburger-btn {
  background: transparent;
}

@media (min-width: 48em) {
  header .header-container .nav-menu {
    height: 100%;
    transform: translateX(0);
  }
  header .header-container .nav-menu .nav-link {
    display: inline;
  }
  header .header-container .nav-menu .nav-link:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 248, 255);
  }
  header .header-container .hamburger {
    display: none;
  }
}
.about {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(150deg, rgba(7, 7, 7, 0.7), rgb(7, 7, 7)), url("/images/backgroun-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-wrapper {
  width: min(1100px, 100%);
  padding-top: 12vh;
  padding-bottom: 2em;
  margin: auto;
}
.about .about-wrapper .about-me {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.about .about-wrapper .about-me .about-me-content {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  flex: 1;
}
.about .about-wrapper .about-me .about-me-content .title-head {
  font-size: clamp(1rem, 2.5vw + 0.75rem, 5rem);
  font-weight: 600;
  padding-bottom: 0.4em;
  line-height: 0.6;
  opacity: 0.8;
}
.about .about-wrapper .about-me .about-me-content .title-head span {
  color: rgb(0, 139, 139);
}
.about .about-wrapper .about-me .about-me-content .sub-head {
  font-size: clamp(0.75rem, 1.5vw + 0.7rem, 1.3rem);
  font-weight: 500;
  opacity: 0.9;
  font-variant: small-caps;
  color: rgb(0, 139, 139);
  padding-bottom: 1em;
}
.about .about-wrapper .about-me .about-me-content .content {
  font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1.1rem);
  font-weight: 300;
  opacity: 0.8;
  line-height: 1.3;
  width: 21.875em;
  margin: auto;
  margin-top: 1em;
}
.about .about-wrapper .about-me .about-me-image {
  flex: 1;
}
.about .about-wrapper .about-me .about-me-image .style-box {
  border: 10px solid rgb(255, 255, 255);
  width: 100%;
  height: 15em;
  border-radius: 25px;
  margin: auto;
}
.about .about-wrapper .about-me .about-me-image .style-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right center;
     object-position: right center;
  position: relative;
  left: 1.5em;
  top: 1.5em;
  border-radius: 10px;
}
.about .about-wrapper .about-skills {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  margin-top: 7em;
}
.about .about-wrapper .about-skills .title-head {
  font-size: clamp(1rem, 2.5vw + 0.75rem, 5rem);
  font-weight: 600;
  padding-bottom: 0.4em;
  line-height: 0.6;
  opacity: 0.8;
  text-align: center;
}
.about .about-wrapper .about-skills .skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5em;
  width: 100%;
}
.about .about-wrapper .about-skills .skills .skillset {
  width: min(350px, 80%);
  position: relative;
}
.about .about-wrapper .about-skills .skills .skillset .sub-head {
  font-size: clamp(0.75rem, 1.5vw + 0.7rem, 1.3rem);
  font-weight: 500;
  opacity: 0.9;
  font-variant: small-caps;
  color: rgb(0, 139, 139);
  text-align: center;
}
.about .about-wrapper .about-skills .skills .skillset .sub-head::before, .about .about-wrapper .about-skills .skills .skillset .sub-head::after {
  position: absolute;
  content: "";
}
.about .about-wrapper .about-skills .skills .skillset .sub-head::before {
  width: 100px;
  height: 3px;
  background-color: wheat;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}
.about .about-wrapper .about-skills .skills .skillset .sub-head::after {
  width: 60px;
  height: 3px;
  background-color: wheat;
  left: 50%;
  top: 65px;
  transform: translateX(-50%);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools {
  width: 100%;
  padding: 1em 1em;
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools h3 {
  font-size: clamp(0.75rem, 1.5vw + 0.7rem, 1.3rem);
  padding-top: 1em;
  font-weight: 400;
  font-variant: small-caps;
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .progress-bar {
  background-color: #ada8a9;
  height: 16px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(0, 139, 139);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .progress-bar .bar-percentage {
  font-size: 0.7rem;
  padding-left: 0.4em;
  padding-right: 0.4em;
  text-align: end;
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .html, .about .about-wrapper .about-skills .skills .skillset .skill-tools .css, .about .about-wrapper .about-skills .skills .skillset .skill-tools .javascript, .about .about-wrapper .about-skills .skills .skillset .skill-tools .sass, .about .about-wrapper .about-skills .skills .skillset .skill-tools .git-github,
.about .about-wrapper .about-skills .skills .skillset .skill-tools .photoshop, .about .about-wrapper .about-skills .skills .skillset .skill-tools .illustrator, .about .about-wrapper .about-skills .skills .skillset .skill-tools .canva, .about .about-wrapper .about-skills .skills .skillset .skill-tools .figma {
  background-color: #080808;
  height: 15px;
  border-radius: 10px;
  transform-origin: left;
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .photoshop, .about .about-wrapper .about-skills .skills .skillset .skill-tools .illustrator {
  width: 40%;
  -webkit-animation: photoshop 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: photoshop 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .canva {
  width: 50%;
  -webkit-animation: canva 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: canva 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .figma {
  width: 30%;
  -webkit-animation: figma 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: figma 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .html, .about .about-wrapper .about-skills .skills .skillset .skill-tools .css {
  width: 70%;
  -webkit-animation: html 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: html 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .javascript {
  width: 20%;
  -webkit-animation: javascript 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: javascript 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .sass {
  width: 50%;
  -webkit-animation: sass 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: sass 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.about .about-wrapper .about-skills .skills .skillset .skill-tools .git-github {
  width: 50%;
  -webkit-animation: git 1s cubic-bezier(1, 0.5, 0.8, 1);
          animation: git 1s cubic-bezier(1, 0.5, 0.8, 1);
}

@media (min-width: 48em) {
  .about .about-wrapper .about-me .about-me-content .content {
    width: 25em;
    margin: auto;
    margin-top: 1em;
  }
  .about .about-wrapper .about-me .about-me-image .style-box {
    width: 25em;
    height: 25em;
    margin: auto;
  }
}
@media (min-width: 62em) {
  .about .about-wrapper .about-me {
    flex-direction: row;
  }
  .about .about-wrapper .about-me .about-me-content {
    text-align: center;
    padding-top: 2em;
  }
  .about .about-wrapper .about-me .about-me-content .title-head {
    width: min(400px, 100%);
    margin: auto;
  }
  .about .about-wrapper .about-me .about-me-content .content {
    width: 21.875em;
    margin: auto;
    margin-top: 1em;
  }
  .about .about-wrapper .about-me .about-me-image .style-box {
    width: 25em;
    height: 25em;
    margin: auto;
  }
}
.services {
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  position: relative;
}
.services .color {
  background-color: rgb(0, 139, 139);
  width: 100%;
  padding: 0.4em 2em;
  text-align: start;
}
.services .color h3 {
  color: rgb(255, 255, 255);
  font-variant: small-caps;
  font-weight: 500;
}
.services .services-wrapper {
  width: min(1100px, 100%);
  margin: auto;
}
.services .services-wrapper .title-head {
  font-size: clamp(1rem, 2.5vw + 0.75rem, 5rem);
  font-weight: 600;
  padding-bottom: 0.4em;
  line-height: 0.6;
  opacity: 0.8;
  padding-top: 1.4em;
  text-align: center;
  color: rgb(0, 139, 139);
}
.services .services-wrapper .title-head span {
  opacity: 0.05;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
.services .services-wrapper h3 {
  font-size: clamp(0.75rem, 1.5vw + 0.7rem, 1.3rem);
  font-weight: 500;
  opacity: 0.9;
  font-variant: small-caps;
  color: rgb(0, 139, 139);
  text-align: center;
}
.services .services-wrapper .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2.4em 0 1em 0;
  margin-top: 2em;
  gap: 2.5em;
}
.services .services-wrapper .services-container .service-tools {
  width: 50%;
  height: auto;
  padding: 1em 0;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 10px;
  border-top-right-radius: 6.25em;
  background-color: rgb(0, 139, 139);
}
.services .services-wrapper .services-container .service-tools .image {
  width: 40%;
  margin: auto;
}
.services .services-wrapper .services-container .service-tools .image img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
.services .services-wrapper .services-container .service-tools .service-text {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.services .services-wrapper .services-container .service-tools .service-text h3 {
  margin: 0.4em auto;
  padding-top: 0.6em;
}
.services .services-wrapper .services-container .service-tools .service-text p {
  font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1.1rem);
  font-weight: 300;
  opacity: 0.8;
  line-height: 1.3;
  padding-bottom: 0.6em;
}

@media (min-width: 48em) {
  .services .services-wrapper .services-container .service-tools {
    width: 35%;
  }
}
@media (min-width: 62em) {
  .services .color {
    text-align: center;
  }
}
@media (min-width: 75em) {
  .services .services-wrapper .services-container .service-tools {
    width: 20%;
  }
}
.works {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.works .works-container {
  width: min(1100px, 90%);
  margin: auto;
  height: auto;
  position: relative;
  padding-top: 3.3em;
  padding-bottom: 1.4em;
}
.works .works-container .title-head {
  font-size: clamp(1rem, 2.5vw + 0.75rem, 5rem);
  font-weight: 600;
  padding-bottom: 0.4em;
  line-height: 0.6;
  opacity: 0.8;
  padding-top: 1.6em;
  text-align: center;
  padding: 2em 2em 0.4em;
  color: rgb(0, 139, 139);
}
.works .works-container .title-head span {
  opacity: 0.05;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
.works .works-container h3 {
  font-size: clamp(0.75rem, 1.5vw + 0.7rem, 1.3rem);
  font-weight: 500;
  opacity: 0.9;
  font-variant: small-caps;
  color: rgb(0, 139, 139);
  text-align: center;
}
.works .works-container .menu-works {
  background-color: rgb(0, 139, 139);
  text-align: center;
}
.works .works-container .menu-works .btn {
  display: inline-block;
  width: 6.25em;
  background-color: palevioletred;
  transition: 0.5s linear;
}
.works .works-container .menu-works .btn:hover {
  background-color: rgb(0, 139, 139);
}
.works .works-container .web-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1em;
  margin-top: 1em;
}
.works .works-container .web-box .web-content {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid aliceblue;
  position: relative;
  cursor: pointer;
}
.works .works-container .web-box .web-content:hover img {
  transform: scale(1.025);
}
.works .works-container .web-box .web-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.5s ease-out;
}
.works .works-container .web-box .web-content .visit-site {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.75em 1.5em;
  background-color: palevioletred;
  color: rgb(255, 255, 255);
  transform: translateX(-100%);
  transition: all 300ms ease-in;
  transform-origin: left;
  font-size: 1.1rem;
  border-top-right-radius: 100px;
}
.works .works-container .web-box .web-content .visit-site span {
  font-size: 1.2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.works .works-container .web-box .web-content .visit-site:hover {
  color: #ada8a9;
}
.works .works-container .web-box .web-content:hover .visit-site {
  transform: translateX(0);
}
.works .works-container .graphics-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1em;
  margin-top: 2em;
}
.works .works-container .graphics-box .graphics-content {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid aliceblue;
}
.works .works-container .graphics-box .graphics-content:hover img {
  transform: scale(1.025);
}
.works .works-container .graphics-box .graphics-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.5s ease-out;
}

@media (min-width: 37.5em) {
  .works .works-container .graphics-box .graphics-content {
    width: 48%;
  }
}
@media (min-width: 48em) {
  .works .works-container .web-box .web-content {
    width: 48%;
  }
}
@media (min-width: 62em) {
  .works .works-container .graphics-box .graphics-content {
    width: 31%;
  }
}
@media (min-width: 75em) {
  .works .works-container .web-box .web-content {
    width: 31%;
  }
}
.contact {
  width: 100%;
  height: 100%;
  padding: 2.4em 1em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/images/Screenshot_20220425_060002.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact .contact-wrapper {
  width: min(1100px, 100%);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.contact .contact-wrapper .contact-call-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0)), url("/images/conatct-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 1em 0;
  position: relative;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.3);
}
.contact .contact-wrapper .contact-call-us .title-head {
  font-size: clamp(1rem, 2.5vw + 0.75rem, 5rem);
  font-weight: 600;
  padding-bottom: 0.4em;
  line-height: 0.6;
  opacity: 0.8;
  padding-top: 1.6em;
  text-align: center;
  padding: 2em 2em 0.4em;
  color: rgb(0, 139, 139);
}
.contact .contact-wrapper .contact-call-us .title-head span {
  opacity: 0.5;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
.contact .contact-wrapper .contact-call-us .contact-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.contact .contact-wrapper .contact-call-us .contact-info-wrapper .contact-info {
  width: 70%;
  height: 100px;
  margin: auto;
  text-align: center;
  padding: 0 1em;
  display: inline-block;
}
.contact .contact-wrapper .contact-call-us .contact-info-wrapper .contact-info .image-icon {
  width: 30px;
  height: 30px;
  padding: 0.25em;
  display: block;
  margin: auto;
  border-radius: 50px;
  border: 1px solid black;
  background-color: rgb(0, 139, 139);
  filter: invert(1);
}
.contact .contact-wrapper .contact-call-us .contact-info-wrapper .contact-info .image-icon img {
  width: 100%;
  height: 100%;
  filter: invert(0);
}
.contact .contact-wrapper .contact-call-us .contact-info-wrapper .contact-info p {
  flex-basis: 70%;
  color: rgb(255, 255, 255);
  font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1rem);
}
.contact .contact-wrapper .contact-form {
  width: 100%;
  background-color: rgb(0, 139, 139);
  padding: 1.2em 1em;
  display: flex;
  flex-direction: column;
}
.contact .contact-wrapper .contact-form .map {
  width: 100%;
  height: 100%;
  margin: 2em auto 0;
}
.contact .contact-wrapper .contact-form .map .map-container {
  width: 100%;
  height: 40vh;
}
.contact .contact-wrapper .contact-form .map .map-container iframe {
  width: 100%;
  height: 100%;
}
.contact .contact-wrapper .contact-form form {
  width: 90%;
  margin: auto;
}
.contact .contact-wrapper .contact-form form h3 {
  font-size: clamp(0.75rem, 1.5vw + 0.7rem, 1.3rem);
  font-weight: 500;
  opacity: 0.9;
  font-variant: small-caps;
  color: rgb(0, 139, 139);
  color: rgb(255, 255, 255);
  margin-bottom: 2em;
  padding-left: 0.8em;
}
.contact .contact-wrapper .contact-form form .form-info {
  position: relative;
  padding: 0 1em;
  margin-bottom: 2em;
}
.contact .contact-wrapper .contact-form form .form-info input, .contact .contact-wrapper .contact-form form .form-info textarea {
  width: 100%;
  border: none;
  outline: none;
  height: 2em;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  padding-left: 1em;
  color: rgb(255, 255, 255);
  resize: none;
}
.contact .contact-wrapper .contact-form form .form-info input:focus ~ label, .contact .contact-wrapper .contact-form form .form-info input:valid ~ label, .contact .contact-wrapper .contact-form form .form-info textarea:focus ~ label, .contact .contact-wrapper .contact-form form .form-info textarea:valid ~ label {
  top: -25px;
}
.contact .contact-wrapper .contact-form form .form-info input:focus, .contact .contact-wrapper .contact-form form .form-info textarea:focus {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.contact .contact-wrapper .contact-form form .form-info textarea {
  height: 100px;
}
.contact .contact-wrapper .contact-form form .form-info label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: text;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  opacity: 0.6;
  padding-left: 1em;
}
.contact .contact-wrapper .contact-form form .form-info label i {
  color: rgb(255, 255, 255);
}
.contact .contact-wrapper .contact-form form button[type=submit] {
  color: rgb(0, 0, 0);
  padding: 0.6em 1em;
  display: inline-block;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  margin: 0 1em 1em;
  font-size: 0.9rem;
  position: relative;
  transition: 0.5s linear;
}
.contact .contact-wrapper .contact-form form button[type=submit]:hover {
  background-color: aliceblue;
  border: 1px solid aliceblue;
}

@media (min-width: 48em) {
  .contact .contact-wrapper {
    height: 100%;
    position: relative;
  }
  .contact .contact-wrapper .contact-call-us {
    padding-bottom: 2em;
  }
  .contact .contact-wrapper .contact-call-us .contact-info-wrapper {
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
  .contact .contact-wrapper .contact-call-us .contact-info-wrapper .contact-info {
    width: 50%;
  }
  .contact .contact-wrapper .contact-form {
    flex-direction: row;
  }
  .contact .contact-wrapper .contact-form .map {
    width: 40%;
    height: 100%;
    margin-left: 1em;
  }
  .contact .contact-wrapper .contact-form .map .map-container {
    height: 47vh;
    margin-bottom: 0;
  }
  .contact .contact-wrapper .contact-form form {
    width: 40%;
  }
}
.footer {
  width: 100%;
  height: 15vh;
  background-color: rgb(0, 0, 0);
}
.footer .footer-wrapper {
  width: min(1100px, 100%);
  margin: auto;
}
.footer .footer-wrapper .copyright-footer {
  width: 100%;
  height: 100%;
}
.footer .footer-wrapper .copyright-footer p {
  color: rgb(255, 255, 255);
  font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1.1rem);
  font-weight: 300;
  opacity: 0.8;
  line-height: 1.3;
  text-align: center;
  width: min(350px, 80%);
  margin: auto;
}
.footer .footer-wrapper .icons {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
  justify-content: center;
}
.footer .footer-wrapper .icons .fa {
  font-size: 1.4rem;
  cursor: pointer;
  filter: invert(1);
}
.footer .footer-wrapper .icons .fa:hover {
  color: rgb(0, 139, 139);
}

@media (min-width: 62em) {
  .footer .footer-wrapper .copyright-footer p {
    width: 100%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 248, 255);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */