@use 'layout' as *;
@use 'util' as *;
@use 'globals' as *;



body {
    font-family: 'Montserrat', sans-serif;
    background-color: $bodycolor;
    scroll-behavior: smooth;
  
}

a {
    text-decoration: none;
    color: $textcolor
}