@use '../util/' as *;
@use '../globals/' as *;

.contact {
    @include gridplacenter;
    @include widthheight;
    padding: 3em 1em;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1)), url('/images/Screenshot_20220425_060002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .contact-wrapper {
        width: 100%;
        height: 100%;
        @include flexcenter;
        flex-wrap: wrap;

        .contact-call-us {
            background-color: $bgcolor;
            width: 100%;
            padding: 1em 0;
            position: relative;
            box-shadow: 1px 1px 8px 0 rgba($color: #000000, $alpha: 0.3);

            .title-head {
                @include titleHead;
                padding-top: 1.6em;
                text-align: center;
                padding: 2em 2em 0.4em;
                color: $wrapper;

                span {
                    opacity: 0.05;
                    color: $darkcolor;
                    font-size: 3rem;
                }
            } 
            .contact-info {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1em;
                padding: 0.8em 2em;

                .image-icon {
                    width: 30px;
                    height: 30px;
                    
                    img {
                        @include widthheight;
                        filter: invert(0);
                     }
                }
                p {
                    color: $darkcolor;
                }
            }
            .map {
                width: 100%;
                height: 100%;
                margin: 2em auto;

                .map-container {
                    width: 100%;
                    height: 40vh;

                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .contact-form {
            width: 100%;
            background-color: $wrapper;
            padding: 1.2em 0.4em;
           
            h3 {
                @include subHead;
                color: $textcolor;
                margin-bottom: 2em;
                padding-left: 0.8em;
            }
            form {
                width: 100%;

                .form-info {
                   position: relative;
                   padding: 0 1em;
                   margin-bottom: 2em;
                   
                    input, textarea {
                        width: 100%;
                        border: none;
                        outline: none;
                        height: 2em;
                        border-bottom: 1px solid $darkcolor;
                        background-color: transparent;
                        padding-left: 1em;
                        color: $textcolor;
                         resize: none;

                        &:focus~label, &:valid~label {
                            top: -25px;
                        }

                        &:focus {
                            box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.6);
                        }
                    } 
                    textarea {
                        height: 100px;
                    } 
                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        cursor: text;
                        transition: 0.5s;
                        color: $textcolor;
                        font-size: 0.9rem;
                        opacity: 0.6;
                        padding-left: 1em;

                        i {
                            color: $bgcolor;
                        } 
                    }
                }
                button[type="submit"]{
                    color: $darkcolor;
                    padding: 0.6em 1em;
                    display: inline-block;
                    background: transparent;
                    border: 1px solid $darkcolor;
                    outline: none;
                    margin: 0 1em 1em;
                    font-size: 0.9rem;
                    position: relative;
                    transition: 0.5s linear;
                  
                    &:hover {
                        background-color: $hovercolorTwo;
                        border: 1px solid $hovercolorTwo;
                    }
                }
            }
        }
    }
}
@include breakpoints(small) {
    .contact {
        .contact-wrapper {
            width: 80%;
        }
    }
}
@include breakpoints(medium){
    .contact {
        .contact-wrapper {
            width: 80%;
            margin: auto;
        }
    }
}
@include breakpoints(large) {
    .contact {
        
        .contact-wrapper {
            position: relative;
            width: 100%;
            .contact-call-us {
                flex-basis: 50%;
                transform: translateX(40%);
                position: relative;
                z-index: 1;

                .contact-info{
                    gap: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .contact-form {
                padding-top: 3em;
                width: 100%;
                position: absolute;
                z-index: 0;
                height: 90vh;
                form {
                    width: 40%;
                    margin-top: 5em;
                }
            }
        }
    }
}

