@use '../util/' as *;
@use '../globals/' as *;

.footer {
    @include gridplacenter;
    width: 100%;
    height: 20vh;
    background-color: $darkcolor;
    padding: 1em 0 2em;

    .copyright-footer {
        @include widthheight;
        width: 90%;
        margin: auto;

        p {
            color: $textcolor;
            @include textContent;
            text-align: center;
            max-width: 380px;
            margin: auto;
        }
    }
    .icons {
        display: flex;
        gap: 1em;
        margin-top: 1em;
        
        .fa {
            cursor: pointer;
            font-size: 1.4rem;
            filter: invert(1);
            &:hover {
                color: $wrapper;
            }
        }
    }
}