@use '../util/' as *;
@use '../globals/' as *;

.footer {
    width: 100%;
    height: 15vh;
    background-color: $darkcolor;

    .footer-wrapper {
        width: min(1100px, 100%);
        margin: auto;

        .copyright-footer {
            @include widthheight;
    
            p {
                color: $textcolor;
                @include textContent;
                text-align: center;
                width: min(350px, 80%);
                margin: auto;
            }
        }
        .icons {
            display: flex;
            gap: 1em;
            margin-top: 1.5em;
            justify-content: center;
            
            .fa {
                @include icons-fa;
                filter: invert(1);
            }
        }
    }
}
@include breakpoints(large) {
    .footer {
        .footer-wrapper {
            .copyright-footer {
                p {
                   width: 100%;
                }
            }
        }
    }
}