@use '../util' as *;
@use '../globals' as *;

header {
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: $wrapper;

    .header-container {
        width: 100%;
        height: 100%;
        margin: auto;
        @include flexspacebetween;
        
        .logo {
            width: 90px;
            height: 5em;
            
            img {
                @include widthheight;
                object-fit: cover;  
                cursor: pointer;
            }
        }
        .nav-menu {
            padding-right: 2em;
            transform: translateX(120%);
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            transition: transform 0.1s linear;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1em;
        
            .nav-link {
                text-align: center;
                color: $textcolor;
                display: block;
                padding: 1em 0;
               
                &:hover {
                    color: $hovercolor;
                }
            }
            &.open {
                transform: translateX(0);
                background-color: $bgcolorOne;
                width: 50%;
                display: block;
                padding-top: 80px;
                font-size: 1.25rem;
            }
        } 
        .hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 1em;
            right: 1.8em;
            width: 40px;
            height: 40px;
            cursor: pointer;
            z-index: 5;
           
            .hamburger-btn {
                width: 2em ;
                height: 4px;
                background-color: $darkcolor;
                border-radius: 5px;
                transition: all 300ms ease-in-out;
                
                &::after, &::before {
                    content: "";
                    position: absolute;
                }
                &::before {
                    transform: translateY(-9px);
                    width: 2em ;
                    height: 4px;
                    background-color: $darkcolor;
                    border-radius: 5px;
                    transition: all 300ms ease-in-out; 
                }
                &::after {
                    transform: translateY(9px);
                    width: 2em ;
                    height: 4px;
                    background-color: $darkcolor;
                    border-radius: 5px;
                    transition: all 300ms ease-in-out;
                }
            }
            &.open .hamburger-btn::before {
                transform: rotate(45deg);
                background-color: $textcolor;
            }
            &.open .hamburger-btn::after {
                transform: rotate(-45deg);
                background-color: $textcolor;
            }
            &.open  .hamburger-btn{
                background: transparent;
                }
        }
    }
}
@include breakpoints(medium){
    header {
        .header-container {
            .nav-menu{
                height: 100%;
                transform: translateX(0);
    
                .nav-link {
                    display: inline;

                    &:hover {
                        color: $textcolor;
                        border-bottom: 1px solid $bodycolor;
                    }
                }
            }
            .hamburger{
                display: none;
            }
        }
    }
}


