@use '../util/' as *;
@use '../globals/' as *;


.services {
    @include widthheight;
    @include gridplacenter;
    padding-bottom: 2em;
    position: relative;
    
    .title-head {
        @include titleHead;
        padding-top: 1.4em;
        text-align: center;
        color: darkcyan;

        span {
            opacity: 0.05;
            color: #000000;
            font-size: 3rem;
        }
    }
   
    h3 {
        @include subHead;
    }
    .color {
        background-color: darkcyan;
        height: 12vh;
        width: 100%;
        padding: 1em 2em;
        text-align: start;

        h3 {
            color: white;
        }
    }
    
    .services-container {
        @include flexcenter;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding: 2.4em 0 1em 0;
        margin-top: 2em;
        gap: 2em;

        .service-tools {
            width: 70%;
            height: auto;
            padding: 1em 0;
            border: 1px solid rgb(204, 203, 203);
            border-radius: 10px;
            border-top-right-radius: 6.25em;
            background-color: #008b8b;

            .image {
               width: 40%;
               margin: auto;
               
                img {
                    @include widthheight;
                    filter: invert(1);
                }
            }

            .service-text {
                text-align: center;
                background-color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                
                h3{
                    margin: 0.4em auto;
                    padding-top: 0.6em;
                }
                p {
                   @include textContent;
                   padding-bottom: 0.6em;
                }
            }

        }

    }
}