
    $bodycolor: rgb(240, 248, 255);
    $textcolor: rgb(255, 255, 255);
    $bgcolor: rgb(255, 255, 255);
    $bgcolorOne: #1e1e1e;

    $wrapper: rgb(0, 139, 139);
    $darkcolor: rgb(0, 0, 0);

    $hovercolor: #6677bc;
    $hovercolorTwo: aliceblue;

    $sampleworkscolor: wheat;
    $progresscolor: #ada8a9;
    $skillcolor: #080808;
    $ctatextcolor: brown;
    $btncolor: palevioletred;

    $wrapper1: rgb(37, 243, 250);
